@model TabloidMVC.Models.ViewModels.PostTagViewModel

@{
    ViewData["Title"] = "AddTagToPost";
}

<h1>AddTagToPost</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tag)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Add Tag", "AddTagToPost", new { post = item.Id, tag = item.Id }) |
                    @Html.ActionLink("Remove Tag", "Details", new { id = item.Id }) |

                </td>
            </tr>
        }
    </tbody>
</table>