@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Deactivate";
}

<h3>Deactivate User</h3>

<p>Are you sure you want to deactivate @Model.FullName? </p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Deactivate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="FirstName" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="LastName" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="DisplayName" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Email" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="CreateDateTime" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="ImageLocation" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="UserTypeId" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Active" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="FullName" type="hidden" />
            </div>
            <div class="form-group">

                <input type="submit" value="Deactivate" class="btn btn-primary" asp-action="Index" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
